html {
    background-color: #587AA6;
}

body {
    background-color: #E0CDBF;
    width: 960px;
    margin: 20px auto;
    border-radius: 20px;
}

header {
    padding: 20px;
    text-align: center;
}

header img {
    display: block;
    margin: 20px auto;
}

nav {
    background-color: #9BCAF2;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #6C4048;
    font-size:  20px;
    margin: 0 20px;

}

nav a:hover {
    color: #1C314D;
    text-decoration: none;
}

main {
    padding: 40px;
}

main img {
    display: block;
    margin: 20px auto;
    width: 35%
}

footer {
    background-color: #9BCAF2;
    text-align: center;
    padding: 40px 0;
    border-radius: 0 0 20px 20px;

}

a {
    color: #6C4048;
}

a:hover {
    color: #1C314D;
    text-decoration: none;
}

h1, h2, h3, h4, {
    color: #6C4048;
}