body {
    background-color: darkred;
    color: white;
}

audio {
    display: block;
    width: 75%;
    margin: 20px auto;
}

iframe {
    display: block;
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
    font-family: 'Bitter', serif;

}

container {
    background-color: gray;
}

nav {
    background-color: gray;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 2px solid darkred;
}

nav li a {
    display: block;
    height: 40px;
    background-color: darkred;
    color: whitesmoke;
    font-size: 1.3em;
    padding: 10px 0;
}

nav li a:hover {
    background-color: lightgray;
    color: lightcoral;
    border-color: black
}

main {
    padding: 10px;
}

.col {
    padding: 10px;
    border-top: 2px solid gray;
}

footer {
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.button {
    display: block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    background-color: lightgray;
    color: black;
    text-decoration: gray;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
}

.button:hover {
    background-color: lightgray;
    border-color: yellow
}

table {
    border: lightcoral;
    width: 100%;
}

tr, td {
    border: 4px solid darkgray;
}
    
@media (min-width: 786px) {
   nav li {
    display: inline-block;
    border: 0;
   }
   
   nav li a {
    width: 150px;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid gray;
   }

   main {
    display: flex;
   }

   section, aside {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
   }

   section {
    width: 70%;
   }

   aside {
    width: 30%;
   }

   .col img {
    width: 75%;
   }

   .button {
    margin-left: auto;
    margin-right: auto;
   }

   .single_page {
    width: 100%;
   }

   table {
    width: 100%;
   }
}

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }
    
    nav li a {
        background-color: darkred;
        border: 0;
    }

    #lower_area {
        display: flex;
    }

    .col {
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    section img {
        width: 75%;
    }

    table {
        width: 100%;
    }

   }
